.DS_Store
/.build
/build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.idea
OctoBlast/builds/
OctoBlast/Secrets.xcconfig
env-vars.sh
OctoBlast/templates/ApiConfig.generated.swift
